# Ignorar arquivo de variáveis de ambiente
.env

# Ignorar diretório do ambiente virtual
localiza_ja/
venv/

# Ignorar arquivos gerados pelo Python
*.pyc
__pycache__/
*.pyo
*.pyd
.pytest_cache/

# Ignorar arquivos de IDEs (exemplo para VSCode)
.vscode/

# Ignorar logs e arquivos temporários
*.log
*.tmp
.DS_Store
*.db

# uploads de imagens (não versionar)
uploads/*
!uploads/.gitkeep